{% if(app.session is not null) %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        {{ flashMessage }}
        <br>
    {% endfor %}
{% endif %}
List of {{ title }}
<table>
    <thead>
    <tr>

        <th>ID</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.id }}</td>
            <td>
                <a href="{{ url((route~"_delete"),{id: item.id}) }}" data-id="{{ item.id }}">delete</a> -
                <a href="{{ url((route~"_create"),{id: item.id}) }}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>

</table>