<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pheetup Admin</title>

    <!-- Bootstrap Core CSS -->
    {% stylesheets '@PheetupAdminBundle/Resources/public/css/bootstrap.min.css' %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}

    <!-- MetisMenu CSS -->
    {% stylesheets '@PheetupAdminBundle/Resources/public/css/metisMenu.min.css' %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}

    <!-- Custom Fonts -->
    {% stylesheets '@PheetupAdminBundle/Resources/public/css/font-awesome.min.css' %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
    <!--DateTime Picker CSS-->
    {% stylesheets '@PheetupAdminBundle/Resources/public/css/jquery.datetimepicker.min.css' %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
    <!-- Custom CSS -->
    {% stylesheets '@PheetupAdminBundle/Resources/public/css/sb-admin-2.css' %}
    <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('admin_dashboard') }}">Pheetup</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> Burada Bildirim
                                    <span class="pull-right text-muted small">4 dakika önce</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                <!-- /.dropdown-alerts -->
                </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>{{ app.user.firstName }} {{ app.user.lastName }}</li>
                    <li><a href="{{ path('admin_my_account') }}"><i class="fa fa-user fa-fw"></i> Hesabım</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> Çıkış</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
                </li>
            <!-- /.dropdown -->
            </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                    <li>
                        <a href="#"><i class="fa fa-edit fa-fw"></i> New<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{{ path('pheetup_group_create') }}">Group</a>
                            </li>
                            <li>
                                <a href="{{ path('pheetup_event_create') }}">Event</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="panels-wells.html">Panels and Wells</a>
                            </li>
                            <li>
                                <a href="buttons.html">Buttons</a>
                            </li>
                            <li>
                                <a href="notifications.html">Notifications</a>
                            </li>
                            <li>
                                <a href="typography.html">Typography</a>
                            </li>
                            <li>
                                <a href="icons.html"> Icons</a>
                            </li>
                            <li>
                                <a href="grid.html">Grid</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span
                                    class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Second Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Item</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="blank.html">Blank Page</a>
                            </li>
                            <li>
                                <a href="login.html">Login Page</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
                </div>
            <!-- /.sidebar-collapse -->
            </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
            {% block body %}

            {% endblock %}
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    {% javascripts '@PheetupAdminBundle/Resources/public/js/jquery.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- Bootstrap Core JavaScript -->
    {% javascripts '@PheetupAdminBundle/Resources/public/js/bootstrap.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Metis Menu Plugin JavaScript -->
    {% javascripts '@PheetupAdminBundle/Resources/public/js/metisMenu.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- DateTime Picker JavaScript-->
    {% javascripts '@PheetupAdminBundle/Resources/public/js/jquery.datetimepicker.full.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- Custom Theme JavaScript -->
    {% javascripts '@PheetupAdminBundle/Resources/public/js/sb-admin-2.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
</div>
</body>

</html>
